.item {
  position: relative;
  margin-top: -1px;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid white;
  z-index: 1;

  &:hover {
    transform: scale(1.05) translateY(1px);
    border-color: #e5e7eb;
    z-index: 10;
    background-color: white;
    border-bottom-color: #e5e7eb;
  }
}
