.btn {
  position: relative;
  overflow: hidden;
  transition: color 0.25s ease;

  & > i {
    position: relative;
    z-index: 1;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    transform: translate(-100%, 0px);
    z-index: 0;
    transition: transform 0.25s ease-in-out;
  }

  &:hover,
  &.active {
    color: white;
    &::before {
      transform: translate(0%, 0px);
    }
  }
}
